<app-nav-bar [currentUser]="currentUser"></app-nav-bar>
<div class="user-card">
  <div class="pic-with-info">
    <img [src]="userProfile.profilePicture" alt="" />
    <div class="user-card-info">
      <h2>{{ userProfile.fullname }}</h2>
      <pre>{{ userProfile.description }}</pre>
      <h5 *ngIf="!userProfile.description">
        This User does not want to introduce himself :(
      </h5>
    </div>
  </div>
  <div class="more-info-with-button">
    <h3 (click)="onListDialog(userProfile.followers)" class="pointer">
      {{ userProfile.followers.length }} Followers
    </h3>
    <h3 (click)="onListDialog(userProfile.following)" class="pointer">
      {{ userProfile.following.length }} Following
    </h3>
    <h3>{{ userProfile.posts.length }} Posts</h3>
    <button
      *ngIf="currentUser.username !== userProfile.username"
      [ngClass]="isFollowing ? 'unfollow' : 'follow'"
      (click)="onFollowAction()"
    >
      {{ isFollowing ? "unfollow" : "follow" }}
    </button>
  </div>
</div>
<div class="posts">
  <img
    *ngFor="let post of userProfile.posts"
    (click)="onPostDialog(post)"
    [src]="post.image"
    alt=""
  />
</div>
