* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
*:disabled {
  cursor: not-allowed !important;
  opacity: 0.8 !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pointer {
  cursor: pointer;
}
.like-icon:hover {
  color: #669bbc;
}
.liked {
  color: #669bbc;
}
.not-liked {
  color: #003049;
  /* border: 1px solid black; */
}
